.container {
    width: 940px;
    display: grid;
    background-color: slategray;
    grid-template: 
    "secao-principal propaganda"
    "secao-principal sugestao";

    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
}

.secao-principal {
    grid-area: secao-principal;
}

.propaganda {
    grid-area: propaganda;
}

.sugestao {
    grid-area: sugestao;
}
.secao-principal img{
    width: 542px;
    height: 217px;
}
.informacoes-principal{
    width: 542px;
    height: 217px;
}

.propaganda img {
    width: 270px;
    height: 56px;
}

.item {
    border: 1px solid black;
    width: 267px;
    height: 72px;
    display: flex;
    gap:10px;
    margin-top: 30px;
}



.item img{
    width: 101px;
    height: 71px;
}

.informacao h2{
    font-size: 14px;
}

.informacao p {
    font-size: 13px;
}