:root {
    --cor-padrão: blue;
    --tamanho-texto: 30px;
}

h2 {
    color: var(--cor-padrão);
    font-size: var(--tamanho-texto);
}

p {
    color: var(--cor-padrão);
    font-size: var(--tamanho-texto);
}

span {
    color: var(--cor-padrão);
    font-size: var(--tamanho-texto);
}