.container div {
    background-color: aqua;
    border: 1px solid black;
}

.container {
    display: grid;
   /*  grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 50px); */


    grid-template: repeat(4, 50px) / repeat(2, auto);
    
    /* grid-column-gap: 10px;
    grid-row-gap: 5px; */

    grid-gap: 5px 10px;
}
