@media (max-width: 792px){
    .container{
        flex-direction: column;
    }

    .logo {
        justify-content: center;
    }

    nav ul{
        flex-direction: column;
    }
    ul li{
        text-align: center;
        margin-top: 30px;
    }

    .imagens {
        flex-direction: column;
    }
    .imagens div{
        text-align: center;
        margin-top: 10px;
    }
}