.logo img {
    width: 45px;
    height: 42px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .logo {
    display: flex;
    align-items: center;
    margin: 45px;
}

.logo h1 {
    color: #000;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav ul {
    display: flex;
}

ul li {
    padding: 30px;
}


.cadastro {
    color: white;
    padding: 10px;
    width: 127px;
    height: 39px;
    flex-shrink: 0;
    background-color: #5BC241;
    border-radius: 10px;
}

.sobre {
    color: white;
    padding: 10px;
    width: 127px;
    height: 39px;
    flex-shrink: 0;
    background-color: #5BC241;
}

