.logo img {
    width: 45px;
    height: 42px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .logo {
    display: flex;
    align-items: center;
    margin: 45px;
}

.logo h1 {
    color: #000;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav ul {
    display: flex;
}

ul li a{
    padding: 15px;
}

ul li {
    margin-left: 15px;
}
.cadastro {
    color: white;
    padding: 10px;
    width: 127px;
    height: 39px;
    flex-shrink: 0;
    background-color: #5BC241;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #5BC241;
    color: #FFF;
}

.imagens{
    display: flex;
}
img{
    margin: 5px;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
}

.imagens h2 {
    margin-top: -100px;
    margin-left: 26px;
    color: #FFF;
    font-family: Public Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imagens p {
    margin-left: 26px;
    color: #FFF;
    font-family: Public Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

